:root {
  --border: 1px solid #e8e8e8;
  --primary-color: #0290ff;
  --black-two: #121212;
  --bg-color: #f5f6fa;
  --white: #fff;
  --light: rgba(0, 0, 0, 0.377);
  --loader-width: 65px;
  --loader-height: 65px;
  --loader-color-primary: #0290ff;
  --loader-color-secondary: #eee;
  --line-width: 5px;
  --animation-duration: 2s;
  --loader-initial-scale: 0.1;
  --warm-grey: #888;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.d-flex {
  display: flex;
}

.flex-unit {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainNav {
  width: 100%;
  height: 2rem;
  padding: 1rem 0;
  background-color: #fff;
  border-bottom: var(--border);
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
}

.links-container {
  margin-left: 5rem;
}

.user-icon {
  margin-right: 5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: var(--border);
}

.nav-links {
  margin-left: 2rem;
}

.chapter-details h3 {
  color: var(--black-two);
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: 300;
}

.chapter-details .chapter-name {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.chapter-details a {
  background-color: var(--primary-color);
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.7rem;
  color: var(--white);
  margin-top: 0.8rem;
}

.nav-links li a {
  font-size: 0.813rem;
  color: var(--black-two);
  padding: 0 1rem;
}

.logo {
  font-size: 1.875rem;
  color: var(--primary-color);
}

.user-color {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.App {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.book-wrapper {
  padding-top: 3rem;
}

.book-item-container {
  border: var(--border);
  margin: 0 5rem;
  margin-bottom: 1rem;
  padding: 1.2rem;
  border-radius: 0.2rem;
  background-color: var(--white);
}

.book__details {
  align-items: flex-start;
}

.book__details__titles {
  align-items: flex-start;
}

.book__details__titles > h4,
h2,
span {
  margin: 0;
}

.book__details__titles h4 {
  font-size: 0.875rem;
  color: var(--light);
  line-height: normal;
  font-weight: bold;
}

.book__details__titles h2 {
  color: var(--black-two);
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: bold;
}

.book__details__titles span {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 300;
}

.books-actions-btn {
  margin-top: 0.6rem;
}

.books-actions-btn ul a {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0.2rem 0.7rem;
  border-right: var(--border);
}

.books-actions-btn ul a:nth-child(1) {
  padding-left: 0;
}

.books-actions-btn ul a:last-child {
  border: none;
}

.graph-gray {
  box-sizing: border-box;
  border: var(--line-width, 4px) solid var(--loader-color-secondary, #fff);
  border-right-color: var(--loader-color-primary, #00f);
  border-bottom-color: var(--loader-color-primary, #00f);
  width: var(--loader-width, 100px);
  height: var(--loader-height, 100px);
  border-radius: 50%;
}

.progress-info {
  padding-right: 4rem;
  border-right: var(--border);
}

.chapter-details {
  padding-left: 4rem;
  align-items: flex-start;
  justify-content: space-around;
}

.progress-data {
  margin-left: 2rem;
}

.progress-data span {
  color: var(--black-two);
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: 200;
}

.filter-book {
  margin-top: 3rem;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.filter-book > select {
  border: var(--border);
  padding: 0.8rem;
  background-color: var(--white);
  width: 30%;
  margin-left: 5rem;
  border-radius: 0.2rem;
}

.form-main-container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
  border-top: var(--border);
}

.form-header {
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.form-header h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--warm-grey);
}

.book-input {
  border: var(--border);
  padding: 0.8rem;
  background-color: var(--white);
  border-radius: 0.2rem;
}

.category {
  border: var(--border);
  padding: 0.8rem;
  background-color: var(--white);
  margin: 0 2rem;
  width: 25%;
  border-radius: 0.2rem;
}

.add-book {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 0.2rem;
  border: none;
  padding: 0.8rem;
  color: var(--white);
  width: 15%;
  font-size: 0.813rem;
  text-transform: uppercase;
}
